<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= current_user.username %>
      <%= link_to "Create a Sub!", new_sub_url %>
      <%= link_to "All Subs", subs_url %>
      <%= button_to "Sign Out", session_url, method: :delete %>
    <% else %>
      <%= link_to "Sign_In", new_session_url %>
      <%= link_to "Sign_Up", new_user_url %>
    <% end %>
    <%= yield %>
  </body>
</html>
